aiohttp==3.9.4
async-timeout==3.0.1
attrs==21.4.0
certifi==2024.2.2
chardet==4.0.0
charset-normalizer==2.0.9
cloudscraper==1.2.71
dateparser==1.1.0
discord-py==2.3.2
idna==3.3
lxml==4.7.1
multidict==5.2.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2021.11.10
requests==2.27.0
requests-toolbelt==0.9.1
six==1.16.0
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
yarl==1.7.2
